Package: dev.und3fy.bfdecrypt
Name: bfdecrypt
Version: 1.3.3-2
Architecture: iphoneos-arm64
Description: bfdecrypt for iOS 15/16 rootless
Depends: firmware (>=11.0), preferenceloader
Maintainer: und3fy <me@und3fy.dev>
Author: p0358
Section: System
