<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>bundle</key>
		<string>AltList</string>
		<key>cell</key>
		<string>PSLinkListCell</string>
		<key>defaults</key>
		<string>dev.und3fy.bfdecrypt</string>
		<key>detail</key>
		<string>ATLApplicationListMultiSelectionController</string>
		<key>icon</key>
		<string>Icon.png</string>
		<key>isController</key>
		<true/>
		<key>key</key>
		<string>selectedApplications</string>
		<key>label</key>
		<string>bfdecrypt</string>
		<key>overridePrincipalClass</key>
		<true/>
		<key>sections</key>
		<array>
			<dict>
				<key>sectionType</key>
				<string>Visible</string>
			</dict>
		</array>
		<key>useSearchBar</key>
		<true/>
	</dict>
</dict>
</plist>