<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Select</string>
		</dict>
    <dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>defaults</key>
			<string>dev.und3fy.bfdecrypt_prefs</string>
			<key>label</key>
			<string>Applications</string>
			<key>detail</key>
			<string>ATLApplicationListMultiSelectionController</string>
			<key>key</key>
			<string>selectedApplications</string>
			<key>sections</key>
			<array>
				<dict>
					<key>sectionType</key>
					<string>User</string>
				</dict>
				<dict>
					<key>sectionType</key>
					<string>System</string>
				</dict>
			</array>
			<key>showIdentifiersAsSubtitle</key>
			<true/>
			<key>defaultApplicationSwitchValue</key>
			<false/>
			<key>useSearchBar</key>
			<true/>
		</dict>
    <dict>
			<key>action</key>
			<string>syncSelectedApps</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Sync Selected Apps</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>© 2023 Decrypt.day (und3fy)</string>
		</dict>
	</array>
	<key>title</key>
	<string>1 Decrypt</string>
</dict>
</plist>